<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNg Learning" >

    <listeners>
        <listener class-name="simpleListeners.TestListeners"/>
    </listeners>

    <test name="Admin test">
        <classes>
            <class name="simpleListeners.AdminPanelTest"></class>
        </classes>
    </test>

</suite>